<!doctype html>
<html>
   <body>
   
      <h2 style = "text-align: center;">Contact Form</h2>
		
      {% for message in form.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      
      
      <form action = "http://localhost:5000/patient" method = post>
         <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}<br>
               {{ form.name }}
               <br>
               
               {{ form.id.label }}<br>
               {{ form.id }}
               <br>
               
             
               
              
               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>